<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vitamincode.vitamincode_be.mapper.ClassMapper">

    <resultMap id="ClassResultMap" type="Class">
        <id column="class_id" property="classId"/>
        <result column="class_name" property="className"/>
        <result column="class_description" property="classDescription"/>
    </resultMap>

    <select id="selectAllClass" resultMap="ClassResultMap">
        SELECT class_ida
             , class_name
             , class_description
        FROM class
    </select>

    <select id="selectClassByID" resultMap="ClassResultMap">
        SELECT class_id
             , class_name
             , class_description
        FROM class
        WHERE class_id = #{classID}
    </select>

    <select id="selectClassByName" resultMap="ClassResultMap">
        SELECT class_id
             , class_name
             , class_description
        FROM class
        WHERE class_name = #{className}
    </select>

    <select id="selectClassLikeName" resultMap="ClassResultMap">
        SELECT class_id
             , class_name
             , class_description
        FROM class
        WHERE class_name LIKE CONCAT('%',#{className},'%')
    </select>

    <insert  id="insertNewClass">
        INSERT INTO class (
                class_name
             , class_description
            )
            VALUE (
                #{newClass.className}
                , #{newClass.classDescription}
            )
    </insert>

    <update id = "updateClass">
        UPDATE class
        SET class_name = #{updateClass.className},
            class_description = #{updateClass.classDescription}
        WHERE class_id = #{updateClass.classId}
    </update>

    <delete id="deleteClass">
        DELETE
        FROM class
        WHERE class_id = #{classID}
    </delete>

</mapper>