<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vitamincode.vitamincode_be.mapper.ClassMapper">

    <resultMap id="ClassResultMap" type="Class">
        <id column="class_id" property="classId"/>
        <result column="class_name" property="className"/>
        <result column="class_description" property="classDescription"/>
    </resultMap>

    <sql id="ClassColumn">
        class_id
        , class_name
        , class_description
    </sql>

    <select id="selectAllClass" resultMap="ClassResultMap">
        SELECT
            <include refid="ClassColumn"/>
        FROM class
    </select>

    <select id="selectClassByID" resultMap="ClassResultMap">
        SELECT
            <include refid="ClassColumn"/>
        FROM class
        WHERE class_id = #{classID}
    </select>

    <select id="selectClass" resultMap="ClassResultMap">
        SELECT
        <include refid="ClassColumn"/>
        FROM class
        <where>
            1 = 1
        <if test="class_id != null">
            AND class_id = #{class.classId}
        </if>

        <if test="class_name != null">
            AND class_name = #{class.className}
        </if>

        <if test="class_description != null">
            AND class_description = #{class.classDescription}
        </if>

        </where>
    </select>


    <select id="selectClassByName" resultMap="ClassResultMap">
        SELECT
            <include refid="ClassColumn"/>
        FROM class
        WHERE class_name = #{className}
    </select>

    <select id="selectClassLikeName" resultMap="ClassResultMap">
        SELECT
            <include refid="ClassColumn"/>
        FROM class
        WHERE class_name LIKE CONCAT('%',#{className},'%')
    </select>

    <select id="isClassExist" resultType="boolean">
        SELECT EXISTS(
            SELECT
                1
            FROM class
            WHERE class_id = #{classID}
        )
    </select>

    <insert  id="insertNewClass">
        INSERT INTO class (
                class_name
             , class_description
            )
            VALUE (
                #{newClass.className}
                , #{newClass.classDescription}
            )
    </insert>

    <update id = "updateClass">
        UPDATE class
        SET class_name = #{updateClass.className},
            class_description = #{updateClass.classDescription}
        WHERE class_id = #{updateClass.classId}
    </update>

    <delete id="deleteClass">
        DELETE
        FROM class
        WHERE class_id = #{classID}
    </delete>

</mapper>